In [1]:
import pandas as pd

In [3]:
ls sports_data_clean

astros_10_17_plo_clean.csv*       hou_rockets_10_17_reg_clean.csv*
astros_10_17_reg_clean.csv*       nfl_08_17_clean.csv*
dynamo_10_17_plo.csv*             nfl10clean.csv*
dynamo_10_17__reg.csv*            nfl10yearsfull.csv*
hou_nfl_1017_post.csv*            nfl17years_clean.csv*
hou_nfl_1017_reg.csv*             nfl17years_PST_clean.csv*
hou_rockets_08_17_clean.csv*      rice_08_17_clean.csv*
hou_rockets_10_17_plo_clean.csv*  uh_08_17_clean.csv*

In [57]:
# 1A10
hou_reg = 'sports_data_clean/astros_10_17_reg_clean.csv'
hou_pos = 'sports_data_clean/astros_10_17_plo_clean.csv'

In [58]:
df_reg = pd.read_csv(hou_reg)
df_pos = pd.read_csv(hou_pos)

In [59]:
astros_home_reg = df_reg[df_reg.home_away =='HOME']

In [60]:
astros_home_pos = df_pos[df_pos.location == 'Minute Maid Park']

In [61]:
astros_home_reg

,date,team,team_score,home_away,opposing,opp_score,win_lost,attendance,season
0,2010-04-05,HOU,2,HOME,SFG,5,L,43836.0,reg
1,2010-04-06,HOU,0,HOME,SFG,3,L,24237.0,reg
2,2010-04-07,HOU,4,HOME,SFG,10,L,21599.0,reg
3,2010-04-09,HOU,0,HOME,PHI,8,L,27288.0,reg
4,2010-04-10,HOU,6,HOME,PHI,9,L,35138.0,reg
5,2010-04-11,HOU,1,HOME,PHI,2,L,28619.0,reg
12,2010-04-20,HOU,7,HOME,FLA,5,W,24135.0,reg
13,2010-04-21,HOU,5,HOME,FLA,4,W,22607.0,reg
14,2010-04-22,HOU,1,HOME,FLA,5,L,21802.0,reg
15,2010-04-23,HOU,4,HOME,PIT,3,W,30018.0,reg
16,2010-04-24,HOU,5,HOME,PIT,2,W,30562.0,reg
17,2010-04-25,HOU,10,HOME,PIT,3,W,27210.0,reg
18,2010-04-27,HOU,2,HOME,CIN,6,L,22467.0,reg
19,2010-04-28,HOU,4,HOME,CIN,6,L,21035.0,reg
20,2010-04-29,HOU,2,HOME,CIN,4,L,21493.0,reg
24,2010-05-03,HOU,1,HOME,ARI,9,L,20370.0,reg
25,2010-05-04,HOU,0,HOME,ARI,1,L,22661.0,reg
26,2010-05-05,HOU,4,HOME,ARI,2,W,21030.0,reg
27,2010-05-06,HOU,3,HOME,ARI,6,L,21019.0,reg
28,2010-05-07,HOU,0,HOME,SDP,7,L,25586.0,reg
29,2010-05-08,HOU,1,HOME,SDP,2,L,27038.0,reg
30,2010-05-09,HOU,4,HOME,SDP,3,W,23526.0,reg
39,2010-05-19,HOU,7,HOME,COL,3,W,25200.0,reg
40,2010-05-20,HOU,0,HOME,COL,4,L,25932.0,reg
41,2010-05-21,HOU,2,HOME,TBR,1,W,27601.0,reg
42,2010-05-22,HOU,2,HOME,TBR,4,L,33778.0,reg
43,2010-05-23,HOU,6,HOME,TBR,10,L,28801.0,reg
50,2010-05-31,HOU,4,HOME,WSN,14,L,34704.0,reg
51,2010-06-01,HOU,8,HOME,WSN,7,W,25249.0,reg
52,2010-06-02,HOU,5,HOME,WSN,1,W,26736.0,reg
...,...,...,...,...,...,...,...,...,...
1238,2017-07-31,HOU,14,HOME,TBR,7,W,24154.0,reg
1239,2017-08-01,HOU,4,HOME,TBR,6,L,22985.0,reg
1240,2017-08-02,HOU,0,HOME,TBR,3,L,26722.0,reg
1241,2017-08-03,HOU,3,HOME,TBR,5,L,23404.0,reg
1242,2017-08-04,HOU,16,HOME,TOR,7,W,39287.0,reg
1243,2017-08-05,HOU,3,HOME,TOR,4,L,41950.0,reg
1244,2017-08-06,HOU,7,HOME,TOR,6,W,36300.0,reg
1253,2017-08-16,HOU,9,HOME,ARI,5,W,27278.0,reg
1254,2017-08-17,HOU,0,HOME,ARI,4,L,27949.0,reg
1255,2017-08-18,HOU,3,HOME,OAK,1,W,30908.0,reg
1256,2017-08-19,HOU,3,HOME,OAK,0,W,32796.0,reg
1257,2017-08-20,HOU,2,HOME,OAK,3,L,34011.0,reg
1258,2017-08-22,HOU,3,HOME,WSN,4,L,23798.0,reg
1259,2017-08-23,HOU,6,HOME,WSN,1,W,23434.0,reg
1260,2017-08-24,HOU,4,HOME,WSN,5,L,24761.0,reg
1264,2017-08-29,HOU,2,HOME,TEX,12,L,3485.0,reg
1265,2017-08-30,HOU,1,HOME,TEX,8,L,6123.0,reg
1266,2017-08-31,HOU,5,HOME,TEX,1,W,3385.0,reg
1267,2017-09-02,HOU,12,HOME,NYM,8,W,30319.0,reg
1268,2017-09-02,HOU,4,HOME,NYM,1,W,34904.0,reg
1269,2017-09-03,HOU,8,HOME,NYM,6,W,32065.0,reg
1280,2017-09-15,HOU,5,HOME,SEA,2,W,28328.0,reg
1281,2017-09-16,HOU,8,HOME,SEA,6,W,33650.0,reg
1282,2017-09-17,HOU,7,HOME,SEA,1,W,30247.0,reg
1283,2017-09-19,HOU,3,HOME,CHW,1,W,23293.0,reg
1284,2017-09-20,HOU,4,HOME,CHW,3,W,24995.0,reg
1285,2017-09-21,HOU,1,HOME,CHW,3,L,24283.0,reg
1286,2017-09-22,HOU,3,HOME,LAA,0,W,34127.0,reg
1287,2017-09-23,HOU,6,HOME,LAA,2,W,34035.0,reg
1288,2017-09-24,HOU,5,HOME,LAA,7,L,36756.0,reg

In [45]:
astros_home_pos

,date,time,location,team_1,score_1,team_2,score_2,home_away,season
3,2015-10-11,3:10,Minute Maid Park,Kansas City,2,Houston,4,HOME,plo
4,2015-10-12,12:07,Minute Maid Park,Kansas City,9,Houston,6,HOME,plo
7,2017-10-06,2pm,Minute Maid Park,Boston,2,Houston,8,HOME,plo
10,2017-10-13,8:00,Minute Maid Park,New York,1,Houston,2,HOME,plo
11,2017-10-14,4:00,Minute Maid Park,New York,1,Houston,2,HOME,plo
15,2017-10-20,8:00,Minute Maid Park,New York,1,Houston,7,HOME,plo
16,2017-10-21,8:00,Minute Maid Park,New York,0,Houston,4,HOME,plo
19,2017-10-27,8:00,Minute Maid Park,Los Angeles,3,Houston,5,HOME,plo
20,2017-10-28,8:00,Minute Maid Park,Los Angeles,6,Houston,2,HOME,plo
21,2017-10-29,8:00,Minute Maid Park,Los Angeles,12,Houston,13,HOME,plo

In [67]:
astros_home_pos = astros_home_pos[['date','team_2','score_2','home_away','team_1','score_1','season']]



astros_home_pos.rename(columns = {'team_2':'team','score_2':'team_score','team_1':'opposing','score_1':'opp_score'}, inplace=True)

In [68]:
astros_home_pos

          date     team  team_score home_away     opposing  opp_score season
3   2015-10-11  Houston           4      HOME  Kansas City          2    plo
4   2015-10-12  Houston           6      HOME  Kansas City          9    plo
7   2017-10-06  Houston           8      HOME       Boston          2    plo
10  2017-10-13  Houston           2      HOME     New York          1    plo
11  2017-10-14  Houston           2      HOME     New York          1    plo
15  2017-10-20  Houston           7      HOME     New York          1    plo
16  2017-10-21  Houston           4      HOME     New York          0    plo
19  2017-10-27  Houston           5      HOME  Los Angeles          3    plo
20  2017-10-28  Houston           2      HOME  Los Angeles          6    plo
21  2017-10-29  Houston          13      HOME  Los Angeles         12    plo

In [69]:
astros_home_reg = astros_home_reg[['date','team','team_score','home_away','opposing','opp_score' ,'season']]

In [71]:
astros_home_reg.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 648 entries, 0 to 1288
Data columns (total 7 columns):
date          648 non-null object
team          648 non-null object
team_score    648 non-null int64
home_away     648 non-null object
opposing      648 non-null object
opp_score     648 non-null int64
season        648 non-null object
dtypes: int64(2), object(5)
memory usage: 40.5+ KB

In [72]:
astros_home_pos.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10 entries, 3 to 21
Data columns (total 7 columns):
date          10 non-null object
team          10 non-null object
team_score    10 non-null int64
home_away     10 non-null object
opposing      10 non-null object
opp_score     10 non-null int64
season        10 non-null object
dtypes: int64(2), object(5)
memory usage: 640.0+ bytes

# join dataframes

In [75]:
frames = [astros_home_pos,astros_home_reg]


astros = pd.concat(frames)

In [76]:
#beat_1A10_Astros

In [77]:
astros['beat'] = '1A10'

In [79]:
astros.head()

,date,team,team_score,home_away,opposing,opp_score,season,beat
3,2015-10-11,Houston,4,HOME,Kansas City,2,plo,1A10
4,2015-10-12,Houston,6,HOME,Kansas City,9,plo,1A10
7,2017-10-06,Houston,8,HOME,Boston,2,plo,1A10
10,2017-10-13,Houston,2,HOME,New York,1,plo,1A10
11,2017-10-14,Houston,2,HOME,New York,1,plo,1A10

In [82]:
astros.to_csv('sports_data_clean/astros_1A10.csv')

In [83]:
ls sports_data_clean/

astros_10_17_plo_clean.csv*       hou_rockets_10_17_reg_clean.csv*
astros_10_17_reg_clean.csv*       nfl_08_17_clean.csv*
astros_1A10.csv*                  nfl10clean.csv*
dynamo_10_17_plo.csv*             nfl10yearsfull.csv*
dynamo_10_17__reg.csv*            nfl17years_clean.csv*
hou_nfl_1017_post.csv*            nfl17years_PST_clean.csv*
hou_nfl_1017_reg.csv*             rice_08_17_clean.csv*
hou_rockets_08_17_clean.csv*      uh_08_17_clean.csv*
hou_rockets_10_17_plo_clean.csv*